{% extends 'base.html' %}
{% block body %}
<body class="account-page">
<div class="main-wrapper">
    <div class="account-content">
        <div class="container">
            <div class="account-box">
                <div class="account-wrapper">
                    <h3 class="account-title">{{ user_message_0005 }}</h3>
                    <p class="account-subtitle">{{ user_message_0006 }}</p>
                    <form role="form" action="{% url 'forgot_password_service' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>{{ user_message_0003 }}</label>
                            <input class="form-control" type="text" id="email" placeholder="email" name="email">
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary account-btn" type="submit">{{ user_message_0007 }}</button>
                        </div>
                        <div class="account-footer">
                            <p>{{ user_message_0008 }} <a href="{% url 'login_view' %}">{{ user_message_0001 }}</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}